<div class="layout-container">
  <header role="banner">
    {{ page.header }}
    {{ page.banner_top }}
    {{ page.primary_menu }}
  </header>

  <main>
    {{ page.content }}

    {% if (page.sidebar_first) %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
</div>